body{
	background-image: url("https://thumbs.gfycat.com/ChubbyHappyAlbertosaurus-size_restricted.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
section{
	height: 100vh;
}
.container h1, .container p{
	color: white;
}